@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


body {
  background-color: #ebebeb;
  font-family: "Afacad", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 35vw;
  height: 70vh;
  border-radius: 10px 0px 0px 10px;
  background-color: #235084;
  padding: 10px;
  text-align: center;
}

#image {
  width: 20vw;
  height: 70vh;
  background: url(../images/enter.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 0px 10px 10px 0px;
}

h1 {

  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 2px;

}

.enter-text {
  width: 75%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#text-input {
  border: 1px solid #5656565b;
  border-radius: 2px;
  padding: 1%;
  flex: 1;
  max-width: 70%;
}

#check-btn {
  background-color: #235084;
  border: none;
  border-radius: 2px;
  padding: 0% 4%;
  color: #ffffff;
  font-family: "Afacad", sans-serif;
  cursor: pointer;
  margin-left: 2%;
  transition: background-color 0.3s ease;
}

#check-btn:hover {
  background-color: #000000;
}

#check-btn.btn-palindrome {
  background-color: #083d5c;
}

#check-btn.btn-not-palindrome {
  background-color: #1c2a47;
}

#check-btn.btn-palindrome:hover {
  background-color: #000000;
}

#check-btn.btn-not-palindrome:hover {
  background-color: #000000;
}

h2 {
  font-size: 1em;
  text-align: left;
  padding-bottom: 7%;
  color: #235084;
}

#explain {
  width: 75%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5%;
  color: #235084;
}

#result.initial-text {
  font-size: 1rem;
  font-weight: normal;
}

#result {
  font-weight: bold;
  font-size: 1.3rem;
}
